body{
    background-color: black;
}

.mesa{
    display: flex;
}

.carta{
    position:relative;
}

.mazoBarajado{

}

.cartaMazoBarajado{

    display: inline;
    position: absolute;

}

.mesaSuperior{
    height: 200px;
}